html, body {
  /* Crucial: Removes the default margin/padding that creates the white border */
  margin: 0;
  padding: 0; 
  /* Ensures the elements stretch to full height */
  height: 100%; 
  /* Set the background color here to match your component's dark theme */
  background-color: black; /* This is the hex code for Tailwind's gray-800 */
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SGFont';
  src: url('/fonts/Game Of Squids.otf') format('opentype'),
       url('/fonts/Game Of Squids.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: 'SGFont', "Times New Roman", Times, serif;
}

@layer utilities {
  .text-glow-black {
    /* filter: drop-shadow(0 0 15px rgba(231, 70, 148, 0.6)); */
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.9));
  }

  
  .text-shadow-pink {
    /* Offset-x | Offset-y | Blur | Color */
    /* sg pink */
    text-shadow: 3px 3px 3px rgba(231, 70, 148, 0.4);
    
  }

  .text-shadow-white {
    /* Offset-x | Offset-y | Blur | Color */
    /* gray */
    text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.4);
  }
}

@layer components {
  .card {
    @apply flex items center justify-center;
    width:300px;
    height: 100px;
    background-color: theme("colors.sg-pink");
    border-radius: 8px;
    border: 0.7px solid #eee;
    box-shadow: 0 4px 10px -1px rgba(0,0,0,0.1), 
    0 2px 6px -2px rgba(0,0, 0, 0.2);
  }
}