html, body {
  /* Crucial: Removes the default margin/padding that creates the white border */
  margin: 0;
  padding: 0; 
  /* Ensures the elements stretch to full height */
  height: 100%; 
  /* Set the background color here to match your component's dark theme */
  background-color: black; /* This is the hex code for Tailwind's gray-800 */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Times New Roman", Times, serif;
}

@layer components {
  .card {
    @apply flex items center justify-center;
    width:300px;
    height: 100px;
    background-color: theme("colors.sg-pink");
    border-radius: 8px;
    border: 0.7px solid #eee;
    box-shadow: 0 4px 10px -1px rgba(0,0,0,0.1), 
    0 2px 6px -2px rgba(0,0, 0, 0.2);
  }
}